## Ïó¨Í∏∞Î∂ÄÌÑ∞

In [1]:
import pandas as pd
import numpy as np
import os

## üê¨ ÌååÏùº ÏàòÏ†ï Ïãú Î≤ÑÏ†Ñ ÏàòÏ†ï ÌïÑÏöî 
- Major, Minor, Patch
- Major : ÎèôÏùºÌïú Ïù¥Î¶ÑÏùÑ Í∞ÄÏßÑ feature Ïùò ÌäπÏÑ±Ïù¥ Î∞îÎÄåÏóàÏùÑ Í≤ΩÏö∞
    - ` ÏòàÎ•º Îì§Ïñ¥, ` age column Ïù¥ numeric Ïù¥ÏóàÎäîÎç∞ str Î°ú Î∞îÎÄê Í≤ΩÏö∞ 
- Minor : Ïã†Í∑ú feature Ï∂îÍ∞Ä 
- Patch : ÏΩîÎìú Ïò§Î•ò Î∞è Í∏∞ÌÉÄ Îã®Ïàú ÏàòÏ†ïÏù∏ Í≤ΩÏö∞
    - ` ÏòàÎ•º Îì§Ïñ¥, ` ÎèôÏûëÏÉÅ Ïò§Î•ò ÎòêÎäî ÌååÏùº Í≤ΩÎ°ú ÏàòÏ†ï

In [2]:
VERSION = "1.0.0"

In [3]:
data_path = './data/train'
train_df = pd.read_csv(os.path.join(data_path, 'train_ratings.csv')) # Ï†ÑÏ≤¥ ÌïôÏäµ Îç∞Ïù¥ÌÑ∞

In [4]:
unique_item_list = train_df["item"].unique()

In [5]:
direc_df  =  pd.read_csv(os.path.join(data_path, 'directors.tsv'), sep='\t') # director
genre_df  =  pd.read_csv(os.path.join(data_path, 'genres.tsv'), sep='\t')    # genres
title_df  =  pd.read_csv(os.path.join(data_path, 'titles.tsv'), sep='\t')    # titles
writer_df =  pd.read_csv(os.path.join(data_path, 'writers.tsv'), sep='\t')  # writers
year_df   =  pd.read_csv(os.path.join(data_path, 'years.tsv'), sep='\t')      # years

In [6]:
base_item_df = pd.DataFrame(unique_item_list, columns=["item"])

## Ïó¨Í∏∞ÍπåÏßÄ

## ‚ú® Ïú†ÏßÑ : VERSION 1.0.0
- Item ÏÜçÏÑ± Ï∑®Ìï©
    - Item Ïùò Î™®Îì† ÌäπÏÑ±ÏùÑ Ï∑®Ìï©ÌïòÏó¨ ÌïòÎÇòÏùò dataframe ÏúºÎ°ú ÏÉùÏÑ±ÌïúÎã§.

In [7]:
def get_double_item_id_list( target_df : pd.DataFrame, target_col : str = "item"):
    return target_df.groupby("item").size().loc[lambda x: x>1].sort_values().reset_index()["item"]

In [8]:
# Í∞êÎèÖÏùÄ ÏµúÎåÄ 14 Î™Ö ÍπåÏßÄ Í∞ÄÎä•
double_direc_item_list = get_double_item_id_list(direc_df)
double_genre_item_list = get_double_item_id_list(genre_df)
double_writer_item_list = get_double_item_id_list(writer_df)
double_title_item_list = get_double_item_id_list(title_df)
double_year_item_list = get_double_item_id_list(year_df)

In [9]:
def concat_double_item_id_list(merge_df:pd.DataFrame,double_item_list : list, target_column : str) : 
    temp_item_df = pd.DataFrame(unique_item_list, columns=["item"])
    temp_item_df = temp_item_df.merge(merge_df,how='left',on = "item")
    temp_item_df = temp_item_df.drop_duplicates()
    
    for item in double_item_list : 
        name = ""
        info_list = merge_df[merge_df["item"]==item][target_column].to_list()
        for director in info_list:
            name+= director + ","
        temp_item_df.loc[ temp_item_df["item"] == item ,target_column] = name[:-1]
    
    return temp_item_df

In [10]:
concat_direc_df = concat_double_item_id_list(direc_df, double_direc_item_list, "director")
concat_genre_df = concat_double_item_id_list(genre_df, double_genre_item_list, "genre")
concat_writer_df = concat_double_item_id_list(writer_df, double_writer_item_list, "writer")

In [11]:
base_item_df = base_item_df.merge(concat_direc_df,how="left",on="item")
base_item_df = base_item_df.merge(concat_genre_df,how="left",on="item")
base_item_df = base_item_df.merge(concat_writer_df,how="left",on="item")

In [12]:
base_item_df = base_item_df.drop_duplicates()

In [13]:
base_item_df

,item,director,genre,writer
0,4643,nm0000318,"Action,Adventure,Drama,Sci-Fi","nm0099541,nm0115310,nm0465199,nm0742797"
16,170,nm0812200,"Action,Adventure,Crime,Thriller",NaN
20,531,nm0002140,"Children,Drama","nm0003031,nm0122364"
24,616,nm0718627,"Animation,Children","nm0027011,nm0166307,nm0166551,nm0314788,nm0841..."
38,2140,"nm0000568,nm0001345","Adventure,Fantasy","nm0001345,nm0643973"
...,...,...,...,...
37627,7753,nm0413875,Drama,nm0725564
37628,93422,NaN,Comedy,nm0779433
37629,6519,nm0467646,Comedy,"nm0069547,nm0301416,nm0318429,nm0725006"
37633,8830,nm0514546,"Adventure,Drama,Horror,Sci-Fi,Thriller","nm0061829,nm0143596,nm0163177,nm0258390,nm0591..."
37668,102880,nm0796117,"Action,Adventure,Sci-Fi","nm0796117,nm1729428"

## ‚ú® Ïù¥Î¶Ñ : VERSION , ÏàòÏ†ï ÎÇ¥Ïö© Í∏∞ÏûÖ 
> ÏàòÏ†ï ÌõÑ Ìï¥Îãπ ÏÖÄÏùÑ ÎßàÏßÄÎßâÏóê Ï∂îÍ∞ÄÌï¥Ï£ºÏÑ∏Ïöî.

## csv ÌååÏùº ÏÉùÏÑ±

In [14]:
base_item_df.to_csv(f"FE_v{VERSION}.csv")